* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-decoration: none;
  cursor: default;
  pointer-events: none;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  font-weight: 600;
  cursor: default;
  pointer-events: none;
}

ul {
  list-style: none;
}

input,
textarea,
button {
  outline: none;
  border: none;
  background-color: #fff;
}

button {
  cursor: pointer;
}

img {
  width: 100%;
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 968px;
  padding: 0 1rem;
}

.section {
  padding: 4.5rem 0 2.5rem;
  height: calc(100% + 100vh);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.section-title {
  margin: 0.5rem 0 1rem 0;
}

.show-menu {
  right: 0 !important;
  transition: ease-in-out 0.3s;
}

.button {
  background-color: #ec9292;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  transition: ease-in-out 0.3s;
}

.colorOrange {
  background-color: #ffd9c0 !important;
  transition: ease-in-out 0.3s;
}

.colorGray {
  background-color: rgb(190, 190, 190) !important;
  transition: ease-in-out 0.3s;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.5rem;
  z-index: 100;
  background: transparent;
  backdrop-filter: blur(2.5px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.header .nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.header .nav__logo {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
}
.header .nav__container {
  position: relative;
}
@media (max-width: 47.9375rem) {
  .header .nav__container {
    position: fixed;
    top: 0;
    right: -80%;
    width: 70%;
    height: 100vh;
    z-index: 100;
    background-color: #fff;
    box-shadow: -1px 0px 5px 0px rgba(255, 217, 192, 0.6980392157);
    transition: ease-in-out 0.3s;
  }
}
.header .nav__ul {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  row-gap: 2rem;
  padding: 4rem 0 0 2rem;
}
@media (min-width: 48rem) {
  .header .nav__ul {
    align-items: center;
    flex-direction: row;
    column-gap: 1.25rem;
    padding: 0;
  }
}
.header .nav__item {
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  font-weight: 500;
}
.header .nav__link {
  position: relative;
  transition: ease-in-out 0.3s;
}
.header .nav__link::before {
  content: "";
  position: absolute;
  bottom: -3.5px;
  left: 0;
  background-color: #faf0d7;
  width: 100%;
  height: 3px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform;
  transition: ease-in-out 0.3s;
  border-radius: 1rem;
}
.header .nav__link:hover::before {
  transform: scaleX(1);
}

@media (min-width: 48rem) {
  .toggle,
.close {
    display: none;
  }
}

.close {
  position: absolute;
  top: 30px;
  right: 35px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.home {
  position: relative;
  overflow: hidden;
  flex-direction: column;
}
@media (min-width: 48rem) {
  .home {
    flex-direction: row;
  }
}
@media (min-width: 64rem) {
  .home {
    overflow: visible;
  }
}
.home__container {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  position: relative;
}
@media (min-width: 48rem) {
  .home__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}
.home__container .blob3 {
  z-index: -1;
  position: absolute;
  width: 25rem;
  top: 0;
  right: -3.125rem;
}
@media (min-width: 48rem) {
  .home__container .blob3 {
    width: 28.125rem;
    right: -6.25rem;
  }
}
@media (min-width: 64rem) {
  .home__container .blob3 {
    width: 40.625rem;
    top: -6.25rem;
    right: -3.125rem;
  }
}
@media (min-width: 48rem) {
  .home__container .one {
    grid-column: 2;
    grid-row: 1/span 2;
    justify-self: center;
    order: 2;
    width: 25rem;
  }
}
.home__container .two {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr auto;
  align-items: center;
}
@media (min-width: 48rem) {
  .home__container .two {
    order: 1;
  }
}
.home__container .two h1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  grid-column: 1/span 2;
  grid-row: 1;
}
.home__container .two p {
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  font-weight: 500;
  grid-column: 1/span 2;
  grid-row: 2;
}
.home__container .two button {
  grid-column: 1/span 2;
  grid-row: 3;
  justify-self: flex-end;
  padding: 0.75rem 2.5rem;
  border-radius: 0 20px 0 20px;
}
@media (min-width: 48rem) {
  .home__container .two button {
    justify-self: flex-start;
  }
}
.home__container .two button:hover {
  background-color: #f4bfbf;
}

.three__home {
  background-color: #faf0d7;
  width: 100%;
  margin-top: 4.5rem;
  padding: 4.5rem 0;
  display: grid;
  gap: 2rem;
}
.three__home h1 {
  text-align: center;
}
.three__home .boxes {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  justify-items: center;
  position: relative;
}
@media (min-width: 48rem) {
  .three__home .boxes {
    grid-template-columns: 1fr 1fr 1fr 1fr auto;
    align-items: center;
  }
}
.three__home .boxes .curly1,
.three__home .boxes .curly2,
.three__home .boxes .curly3 {
  width: 100px;
  height: 100px;
  position: absolute;
}
.three__home .boxes .curly1 {
  top: 6.25rem;
  right: -5rem;
}
@media (min-width: 48rem) {
  .three__home .boxes .curly1 {
    top: -4.6875rem;
    right: 0;
    left: 8.125rem;
    transform: rotate(-100deg);
  }
}
.three__home .boxes .curly2 {
  top: 15.625rem;
  left: -5rem;
}
@media (min-width: 48rem) {
  .three__home .boxes .curly2 {
    top: 8.125rem;
    right: 0;
    left: 18.75rem;
    transform: rotate(-90deg);
  }
}
.three__home .boxes .curly3 {
  top: 28.125rem;
  right: -5rem;
  transform: rotate(7deg);
}
@media (min-width: 48rem) {
  .three__home .boxes .curly3 {
    top: -5rem;
    right: 0;
    left: 30rem;
    transform: rotate(-90deg);
  }
}
.three__home .boxes .curly1,
.three__home .boxes .curly3 {
  width: 110px;
  height: 110px;
}
.three__home .boxes .crown {
  width: 40px;
  height: 40px;
  bottom: 0;
  left: 10.3125rem;
}
.three__home .boxes .box {
  border: 1px solid #000;
  height: 9.375rem;
  width: 10rem;
  display: grid;
  gap: 0;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 30%;
  justify-items: center;
  align-items: center;
  border-radius: 20px;
  padding: 0.5rem 0;
  background-color: #fff;
}
.three__home .boxes .box img {
  width: 4.375rem;
  height: 4.375rem;
}
.three__home .boxes .box p {
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  font-weight: 500;
  text-align: center;
}

.psicanalise__container {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}
@media (min-width: 48rem) {
  .psicanalise__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
.psicanalise__container h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 600;
}
.psicanalise__container .one {
  justify-self: center;
}
@media (min-width: 48rem) {
  .psicanalise__container .one {
    grid-column: 2;
    grid-row: 1/span 3;
    align-self: center;
    max-width: 28.125rem;
  }
}
.psicanalise__container .two p {
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  font-weight: 400;
  letter-spacing: 1.5px;
  align-self: center;
}
.psicanalise__container .three {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}
.psicanalise__container .three button {
  grid-column: 1/span 2;
  justify-self: flex-end;
  align-self: flex-start;
  border-radius: 20px 0 20px 20px;
  padding: 0.75rem 2.5rem;
}
@media (min-width: 48rem) {
  .psicanalise__container .three button {
    justify-self: flex-start;
    border-radius: 0 20px 20px 20px;
  }
}

.psicopedagogia__container {
  position: relative;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}
@media (min-width: 48rem) {
  .psicopedagogia__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
.psicopedagogia__container h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 600;
}
.psicopedagogia__container .one {
  justify-self: center;
}
@media (min-width: 48rem) {
  .psicopedagogia__container .one {
    grid-column: 1;
    grid-row: 1/span 3;
    align-self: center;
    max-width: 28.125rem;
  }
}
.psicopedagogia__container .two p {
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  font-weight: 400;
  letter-spacing: 1.5px;
  align-self: center;
}
.psicopedagogia__container .three {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}
.psicopedagogia__container .three button {
  grid-column: 1/span 2;
  justify-self: flex-end;
  align-self: flex-start;
  border-radius: 20px 0 20px 20px;
  padding: 0.75rem 2.5rem;
}
@media (min-width: 48rem) {
  .psicopedagogia__container .three button {
    border-radius: 20px 0 20px 20px;
  }
}

.psicoeducacao__container {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  position: relative;
}
@media (min-width: 48rem) {
  .psicoeducacao__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
.psicoeducacao__container h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  align-self: flex-end;
}
@media (min-width: 48rem) {
  .psicoeducacao__container .one {
    grid-column: 2;
    grid-row: 1/span 3;
    align-self: center;
    max-width: 28.125rem;
  }
}
.psicoeducacao__container .two p {
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  font-weight: 400;
  letter-spacing: 1.5px;
  align-self: center;
}
.psicoeducacao__container .three {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}
.psicoeducacao__container .three button {
  grid-column: 1/span 2;
  justify-self: flex-end;
  align-self: flex-start;
  border-radius: 20px 0 20px 20px;
  padding: 0.75rem 2.5rem;
}
@media (min-width: 48rem) {
  .psicoeducacao__container .three button {
    justify-self: flex-start;
    border-radius: 0 20px 20px 20px;
  }
}

.about__container {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}
@media (min-width: 48rem) {
  .about__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
.about__container h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 600;
}
@media (min-width: 48rem) {
  .about__container .one {
    grid-column: 2;
    grid-row: 1/span 3;
    align-self: center;
    max-width: 28.125rem;
  }
}
.about__container .two h1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem 0;
}
.about__container .two p {
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  font-weight: 400;
  letter-spacing: 1.5px;
  align-self: center;
}
.about__container .three {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  justify-self: center;
  justify-content: center;
}
.about__container .three .toggleOne,
.about__container .three .toggleTwo {
  background-color: rgb(190, 190, 190);
  border-radius: 50%;
  height: 0.625rem;
  width: 0.625rem;
  cursor: pointer;
}
.about__container .three .toggleOne {
  background-color: #ffd9c0;
}

.contato__container {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
}
.contato__container h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 600;
}
.contato__container .one h1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem 0;
}
.contato__container .one h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}
.contato__container .two .redes {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  width: 100%;
}
.contato__container .two .redes a {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: auto 1fr;
  align-items: center;
}
.contato__container .two .redes a img {
  width: 2.5rem;
}

.footer {
  background-color: #ec9292;
}
.footer__container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
}
@media (min-width: 48rem) {
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
.footer__container .one h1,
.footer__container .one a,
.footer__container .two h1,
.footer__container .two a {
  color: #fff;
}
.footer__container .one h1 {
  text-transform: uppercase;
  border-bottom: 2px solid #fff;
}
@media (min-width: 48rem) {
  .footer__container .one h1 {
    text-align: end;
    border-right: 2px solid #fff;
    border-bottom: none;
    height: 100%;
    padding-right: 1rem;
  }
}
.footer__container .two ul {
  display: grid;
  gap: 1rem;
}
.footer__container .two ul a {
  text-align: center;
}
@media (min-width: 48rem) {
  .footer__container .two ul a {
    text-align: start;
  }
}
.footer__container .two ul a li {
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  font-weight: 500;
}

/*# sourceMappingURL=index.css.map */
