$header-height: 3.5rem;
$border: 1px solid red;

// COLORS
$red-color: #f4bfbf;
$orange-color: #ffd9c0;
$yellow-color: #faf0d7;
$second-color: #8cc0de;
$redDark-color: #ec9292;
$yellowLight-color: #faf0d7;
$black-color: #000;
$white-color: #fff;

// FONTS
$body-font: "Poppins", sans-serif;
$biggest-font-size: 2.5rem;
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1rem;
$normal-font-size: 0.938rem;
$small-font-size: 0.813rem;
$smaller-font-size: 0.75rem;

// FONT WEIGHT
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;
$font-extra: 800;

// LETTER SPACING
$one-spacing: 1px;
$one-half-spacing: 1.5px;
$two-spacing: 2px;

// MARGENES BOTTOM
$mb-0-25: 0.25rem;
$mb-0-5: 0.5rem;
$mb-0-75: 0.75rem;
$mb-1: 1rem;
$mb-1-25: 1.25rem;
$mb-1-5: 1.5rem;
$mb-2: 2rem;
$mb-2-5: 2.5rem;
$mb-3: 3rem;
$mb-3-5: 3.5rem;
$mb-4: 4rem;
$mb-4-5: 4.5rem;
$mb-5: 5rem;

// Z-INDEX
$z-tooltip: 10;
$z-fixed: 100;

// HOVER OVERLAY
$ease-io: ease-in-out;
$img-transition: 0.3s;
$img-hidden: hidden;
$img-scale: scale(1.1);

@media (min-width: rem(968)) {
  $biggest-font-size: 3rem;
  $h1-font-size: 2.25rem;
  $h2-font-size: 1.5rem;
  $h3-font-size: 1.25rem;
  $normal-font-size: 1rem;
  $small-font-size: 0.875rem;
  $smaller-font-size: 0.813rem;
}
