@use "import" as *;

//*================= About ===================*//
.about {
  &__container {
    @include grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto;

    h1 {
      @include font(2rem, $font-semi-bold);
    }

    .one {
      //TODO: Colocar o tamanho da imagem responsivo
      width: rem(250);
      height: rem(250);
      background-color: rgb(202, 202, 202);
      justify-self: center;
      border-radius: 20px 0 20px 20px;
    }

    .two {
      h1 {
        @include font($h1-font-size, $font-semi-bold);
        padding: $mb-1 0;
      }

      p {
        @include font($normal-font-size, $font-regular);
        letter-spacing: 1.5px;
        align-self: center;
      }
    }

    .three {
      @include grid($mb-1);
      grid-template-columns: repeat(2, 1fr);
      justify-self: center;
      justify-content: center;

      .toggleOne,
      .toggleTwo {
        background-color: rgb(190, 190, 190);
        border-radius: 50%;
        height: rem(10);
        width: rem(10);
        cursor: pointer;
      }

      .toggleOne {
        background-color: #ffd9c0;
      }
    }
  }
}