@use "import" as *;

//*================= About ===================*//
.about {
  &__container {
    @include grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;

    @media (min-width: rem(768)) {
      grid-template-columns: repeat(2, 1fr);
    }

    h1 {
      @include font(2rem, $font-semi-bold);
    }

    .one {
      @media (min-width: rem(768)) {
        grid-column: 2;
        grid-row: 1 / span 3;
        align-self: center;
        max-width: rem(450);
      }
    }

    .two {
      height: rem(300);

      h1 {
        @include font($h1-font-size, $font-semi-bold);
        padding: $mb-1 0;
      }

      p {
        @include font($normal-font-size, $font-regular);
        letter-spacing: 1.5px;
        align-self: center;
      }
    }

    .three {
      @include grid($mb-2);
      grid-template-columns: repeat(3, auto);
      justify-self: center;
      justify-content: center;

      .toggles {
        @include flex;
        column-gap: $mb-1;

        .toggleOne,
        .toggleTwo {
          background-color: rgb(190, 190, 190);
          border-radius: 50%;
          height: rem(10);
          width: rem(10);
          cursor: pointer;
        }

        .toggleOne {
          background-color: #ffd9c0;
        }
      }

      .leftArrow,
      .rightArrow {
        cursor: pointer;
      }
    }
  }
}
