@use "import" as *;

//*================= CONTATO ===================*//
.contato {
  &__container {
    @include grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;

    h1 {
      @include font(2rem, $font-semi-bold);
    }

    .one {
      h1 {
        @include font($h1-font-size, $font-semi-bold);
        padding: $mb-1 0;
      }

      h2 {
        @include font($h3-font-size, $font-medium);
      }
    }

    .two {
      .redes {
        @include flex(center, flex-start);
        gap: $mb-0-5;
        width: 100%;

        a {
          @include grid($mb-0-5);
          grid-template-columns: auto 1fr;
          align-items: center;
          text-decoration: underline;

          img {
            width: rem(40);
          }
        }

        .wpp-arrow{
          position: relative;
          animation-duration: 1s;
          animation-name: infinityArrow;
          animation-iteration-count: infinite;
          animation-direction: alternate;
          animation-timing-function: ease-in-out;
        }

        @keyframes infinityArrow {
         from{
          left: 20px;
         }

         to{
          left: 0;
         }
        }
      }
    }
  }
}
