@use "import" as *;

//*================= FOOTER ===================*//
.footer {
  background-color: $redDark-color;

  &__container {
    @include grid($mb-1-5);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    // width: 100%;
    // border: $border;

    @media (min-width: rem(768)){
      grid-template-columns: repeat(2, 1fr);
    }

    .one,
    .two {
      h1,
      a {
        color: $white-color;
      }
    }

    .one {
      h1 {
        text-transform: uppercase;
        border-bottom: 2px solid $white-color;

        @media (min-width: rem(768)){
          text-align: end;
          border-right: 2px solid $white-color;
          border-bottom: none;
          height: 100%;
          padding-right: $mb-1;
        }
      }
    }

    .two {
      ul {
        @include grid($mb-1);

        a {
          text-align: center;

          @media (min-width: rem(768)){
            text-align: start;
          }

          li {
            @include font($normal-font-size, $font-medium);
          }
        }
      }
    }
  }
}
