@use "import" as *;

//*================= Home ====================*//
.main {
}

.home {
  position: relative;
  overflow: hidden;
  flex-direction: column;

  @media (min-width: rem(768)) {
    flex-direction: row;
  }

  @media (min-width: rem(1024)) {
    overflow: visible;
  }

  &__container {
    //! Mudar para display: flex
    @include grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    position: relative;

    @media (min-width: rem(768)) {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }

    .blob3 {
      z-index: -1;
      position: absolute;
      width: rem(400);
      top: 0;
      right: rem(-50);

      @media (min-width: rem(768)) {
        width: rem(450);
        right: rem(-100);
      }

      @media (min-width: rem(1024)) {
        width: rem(550);
        top: rem(-10);
        right: rem(-25);
      }
    }

    .one {
      @media (min-width: rem(768)) {
        grid-column: 2;
        grid-row: 1 / span 2;
        justify-self: center;
        order: 2;
        width: rem(400);
      }
    }

    .two {
      @include grid($mb-1);
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr 1fr auto;
      align-items: center;

      @media (min-width: rem(768)) {
        order: 1;
        // grid-template-rows: auto auto auto;
      }

      h1 {
        @include font($h1-font-size, $font-semi-bold);
        grid-column: 1 / span 2;
        grid-row: 1;
      }

      p {
        @include font;
        grid-column: 1 / span 2;
        grid-row: 2;
      }

      .button {
        grid-column: 1 / span 2;
        grid-row: 3;
        justify-self: flex-end;
        padding: $mb-0-75 $mb-2-5;
        border-radius: 0 20px 0 20px;

        @media (min-width: rem(768)) {
          justify-self: flex-start;
        }

        &:hover {
          background-color: $red-color;
        }
      }
    }
  }
}

.three__home {
  background-color: $yellowLight-color;
  width: 100%;
  margin-top: $mb-4-5;
  padding: $mb-4-5 0;
  @include grid;


  h1 {
    text-align: center;
  }

  .boxes {
    @include grid($mb-1);
    grid-template-columns: 1fr;
    justify-items: center;
    position: relative;

    @media (min-width: rem(768)) {
      grid-template-columns: 1fr 1fr 1fr 1fr auto;
      align-items: center;
    }

    .curly1,
    .curly2,
    .curly3 {
      width: 100px;
      height: 100px;
      position: absolute;
    }

    .curly1 {
      top: rem(100);
      right: rem(-80);

      @media (min-width: rem(768)) {
        top: rem(-75);
        right: 0;
        left: rem(130);
        transform: rotate(-100deg);
      }
    }

    .curly2 {
      top: rem(250);
      left: rem(-80);

      @media (min-width: rem(768)) {
        top: rem(130);
        right: 0;
        left: rem(300);
        transform: rotate(-90deg);
      }
    }

    .curly3 {
      top: rem(450);
      right: rem(-80);
      transform: rotate(7deg);

      @media (min-width: rem(768)) {
        top: rem(-80);
        right: 0;
        left: rem(480);
        transform: rotate(-90deg);
      }
    }

    .curly1,
    .curly3 {
      width: 110px;
      height: 110px;
    }

    .crown {
      width: 40px;
      height: 40px;
      bottom: 0;
      left: rem(165);
    }

    .box {
      //TODO: Mudar tamanho para ficar responsivo
      border: 1px solid $black-color;
      height: rem(150);
      width: rem(160);
      @include grid(0);
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 30%;
      justify-items: center;
      align-items: center;
      border-radius: 20px;
      padding: $mb-0-5 0;
      background-color: $white-color;

      img {
        width: rem(70);
        height: rem(70);
      }

      p {
        @include font;
        text-align: center;
      }
    }
  }
}
