@use "import" as *;

//*================= NavBar ====================*//
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  z-index: $z-fixed;
  background: transparent;
  backdrop-filter: blur(4px);
  @include flex(center, center);

  .nav {
    height: 100%;
    @include flex(center, space-between);

    &__logo {
      @include font($h2-font-size, $font-semi-bold);
      //TODO: Aumentar o tamanho da logo
    }

    &__container {
      position: relative;

      @media (max-width: rem(767)) {
        position: fixed;
        top: 0;
        right: -80%;
        // right: 0;
        width: 70%;
        height: 100vh;
        z-index: $z-fixed;
        background-color: $white-color;
        box-shadow: -1px 0px 5px 0px #ffd9c0b2;
        @include transition;
      }
    }

    &__ul {
      @include flex(flex-start, center, column);
      row-gap: $mb-2;
      padding: $mb-4 0 0 $mb-2;

      @media (min-width: rem(768)) {
        align-items: center;
        flex-direction: row;
        column-gap: $mb-1-25;
        padding: 0;
      }
    }

    &__item {
      @include font($normal-font-size, $font-medium);
    }

    &__link {
      position: relative;
      @include transition;

      &::before {
        content: "";
        position: absolute;
        bottom: -3.5px;
        left: 0;
        background-color: $yellowLight-color;
        width: 100%;
        height: 3px;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform;
        @include transition;
        border-radius: $mb-1;
      }

      &:hover::before {
        transform: scaleX(1);
      }
    }
  }
}

.toggle,
.close {
  @media (min-width: rem(768)) {
    display: none;
  }
}

.toggle {
}

.close {
  position: absolute;
  top: 30px;
  right: 35px;
  @include font($h3-font-size, $font-regular);
}

//*================= Body ====================*//
.main {
}

.home {
  position: relative;
  overflow: hidden;
  padding-left: $mb-1-5;
  flex-direction: column;

  .blob3 {
    z-index: -1;
    position: absolute;
    width: rem(700);
    top: -90px;
    left: -70px;
  }

  .redes {
    position: absolute;
    left: 0;
    @include flex;
    flex-direction: column;
    width: 30px;
    height: 100vh;
    row-gap: $mb-2;
    padding-left: 10px;
    // border: $border;

    .line {
      background-color: $black-color;
      height: rem(200);
      width: 2px;
      border-radius: 30px;
    }

    .social {
      @include flex;
      flex-direction: column;
      row-gap: $mb-2;
      width: 30px;
      a {
        img {
          // width: 10px;
          // height: 10px
        }
      }
    }
  }

  &__container {
    @include grid($mb-1);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    // border: $border;

    .one {
      @include grid(0);
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);

      .img1,
      .img2 {
        width: 60vw;
        height: 60vw;
        background-color: rgb(236, 236, 236);
        border: 1px solid $black-color;
      }

      .img1 {
        border-radius: 20px 0 20px 20px;
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
        justify-self: center;
        // align-self: center;
        margin: 0 0 0 $mb-4;
      }

      .img2 {
        border-radius: 0 20px 20px 20px;
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
        justify-self: center;
        // align-self: center;
        margin: 10rem $mb-4 0 0;
      }
    }

    .two {
      @include grid($mb-1-5);
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto auto 1fr;

      h1 {
        @include font($h1-font-size, $font-semi-bold);
        grid-column: 1 / span 2;
        grid-row: 1;
      }

      p {
        @include font;
        grid-column: 1 / span 2;
        grid-row: 2;
      }

      button {
        grid-column: 1 / span 2;
        grid-row: 3;
        justify-self: flex-end;
        padding: $mb-0-75 $mb-2-5;
        border-radius: 0 20px 0 20px;

        &:hover {
          background-color: $red-color;
        }
      }
    }
  }
}

.three__home {
  background-color: $yellowLight-color;
  width: 100%;
  margin-top: $mb-4-5;
  @include grid;
  position: relative;

  //! Consertar posição das setas e deixa-las responsivas
  .curly1,
  .curly2,
  .curly3 {
    //TODO: Colocar o tamnaho das setas responsivo
    width: 100px;
    height: 100px;
    position: absolute;
  }

  .curly1 {
    top: rem(240);
    right: rem(25);
  }

  .curly2 {
    top: rem(420);
    left: rem(30);
  }

  .curly3 {
    top: rem(600);
    right: rem(20);
    transform: rotate(7deg);
  }

  .curly1,
  .curly3 {
    width: 110px;
    height: 110px;
  }

  .crown {
    // position: absolute;
    width: 40px;
    height: 40px;
    bottom: 0;
    left: rem(165);
  }

  .boxes {
    @include grid($mb-1);
    grid-template-columns: 1fr;
    justify-items: center;

    .box {
      //TODO: Mudar tamanho para ficar responsivo
      border: 1px solid $black-color;
      height: rem(150);
      width: rem(160);
      @include grid(0);
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 30%;
      justify-items: center;
      align-items: center;
      border-radius: 20px;
      padding: $mb-0-5 0;
      background-color: $white-color;

      img {
        width: rem(70);
        height: rem(70);
      }

      p {
        @include font;
        text-align: center;
      }
    }
  }
}

//*================= Psicanalise ===================*//
.psicanalise {
  &__container {
    @include grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto;

    h1 {
      @include font(2rem, $font-semi-bold);
    }

    .one {
      //TODO: Colocar o tamanho da imagem responsivo
      width: rem(250);
      height: rem(250);
      background-color: rgb(202, 202, 202);
      justify-self: center;
      border: 1px solid $black-color;
      border-radius: 0 50px 0 50px;
    }

    .two {
      p {
        @include font($normal-font-size, $font-regular);
        letter-spacing: 1.5px;
        align-self: center;
      }
    }

    .three {
      // border: $border;
      @include grid;
      grid-template-columns: repeat(2, 1fr);

      button {
        grid-column: 1 / span 2;
        justify-self: flex-end;
        border-radius: 0 20px 20px 20px;
        padding: $mb-0-75 $mb-2-5;
      }
    }
  }
}

//*================= Psicopedagogia ===================*//
.psicopedagogia {
  &__container {
    position: relative;
    @include grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto;

    h1 {
      @include font(2rem, $font-semi-bold);
    }

    img {
      //TODO: Colocar o tamanho dos blobs reponsivo
      position: absolute;
      z-index: -1;
      width: rem(250);

      //TODO: Colocar a posição responsiva
      &:nth-child(2) {
        top: 40px;
        right: 80px;
      }

      &:nth-child(3) {
        top: 30px;
        right: 0px;
      }
    }

    .one {
      //TODO: Colocar o tamanho da imagem responsivo
      @include grid($mb-0-5);
      width: 100%;
      height: rem(300);
      justify-self: center;
      // border: 1px solid $black-color;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);

      .box {
        // border: $border;

        &:nth-child(1) {
          grid-column: 1/3;
          grid-row: 1/4;
          border: $border;
        }

        &:nth-child(2) {
          grid-column: 3/4;
          grid-row: 1;
          border: 1px solid green;
        }

        &:nth-child(3) {
          grid-column: 3/4;
          grid-row: 2;
          border: 1px solid cyan;
        }

        &:nth-child(4) {
          grid-column: 3/4;
          grid-row: 3/5;
          border: 1px solid orange;
        }

        &:nth-child(5) {
          grid-column: 1/3;
          grid-row: 4/5;
          border: 1px solid blue;
        }
      }
    }

    .two {
      p {
        @include font($normal-font-size, $font-regular);
        letter-spacing: 1.5px;
        align-self: center;
      }
    }

    .three {
      // border: $border;
      @include grid;
      grid-template-columns: repeat(2, 1fr);

      button {
        grid-column: 1 / span 2;
        justify-self: flex-end;
        border-radius: 0 20px 20px 20px;
        padding: $mb-0-75 $mb-2-5;
      }
    }
  }
}

//*================= Psicoeducação ===================*//
.psicoeducacao {
  &__container {
    @include grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto;
    position: relative;

    h1 {
      @include font(2rem, $font-semi-bold);
    }

    img {
      //TODO: Colocar a imagem reponsiva
      position: absolute;
      z-index: -1;
      top: 20px;
    }

    .one {
      //TODO: Colocar o tamanho da imagem responsivo
      width: 100%;
      height: rem(300);
      justify-self: center;
      // border: 1px solid $black-color;
      position: relative;
      @include grid($mb-1);
      grid-template-columns: repeat(2, 1fr);

      .block {
        &:nth-child(1) {
          height: 100%;
          background-color: rgb(221, 221, 221);
          border-radius: 0 20px 20px 0;
          // border: $border;
        }

        &:nth-child(2) {
          height: 100%;
          background-color: rgb(221, 221, 221);
          border-radius: 20px 0 0 20px;
          // border: $border;
        }
      }
    }

    .two {
      p {
        @include font($normal-font-size, $font-regular);
        letter-spacing: 1.5px;
        align-self: center;
      }
    }

    .three {
      // border: $border;
      @include grid;
      grid-template-columns: repeat(2, 1fr);

      button {
        grid-column: 1 / span 2;
        justify-self: flex-end;
        border-radius: 0 20px 20px 20px;
        padding: $mb-0-75 $mb-2-5;
      }
    }
  }
}

//*================= About ===================*//
.about {
  &__container {
    @include grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto;

    h1 {
      @include font(2rem, $font-semi-bold);
    }

    .one {
      //TODO: Colocar o tamanho da imagem responsivo
      width: rem(250);
      height: rem(250);
      background-color: rgb(202, 202, 202);
      justify-self: center;
      border-radius: 20px 0 20px 20px;
    }

    .two {
      h1 {
        @include font($h1-font-size, $font-semi-bold);
        padding: $mb-1 0;
      }

      p {
        @include font($normal-font-size, $font-regular);
        letter-spacing: 1.5px;
        align-self: center;
      }
    }

    .three {
      @include grid($mb-1);
      grid-template-columns: repeat(2, 1fr);
      justify-self: center;
      justify-content: center;

      .toggleOne,
      .toggleTwo {
        background-color: rgb(190, 190, 190);
        border-radius: 50%;
        height: rem(10);
        width: rem(10);
        cursor: pointer;
      }

      .toggleOne {
        background-color: #ffd9c0;
      }
    }
  }
}

//*================= contato ===================*//
.contato {
  &__container {
    @include grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;

    h1 {
      @include font(2rem, $font-semi-bold);
    }

    .one {
      h1 {
        @include font($h1-font-size, $font-semi-bold);
        padding: $mb-1 0;
      }

      h2 {
        @include font($h3-font-size, $font-medium);
      }
    }

    .two {
      .redes {
        //TODO: Colocar o tamanho responsivo
        @include grid($mb-1);
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr;
        width: 100%;
        // border: $border;

        a {
          @include grid($mb-0-5);
          grid-template-columns: auto 1fr;
          align-items: center;

          img {
            width: rem(40);
          }
        }
      }
    }
  }
}

//*================= contato ===================*//
.footer {
  background-color: $redDark-color;

  &__container {
    @include grid($mb-1-5);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    // width: 100%;
    // border: $border;

    .one,
    .two {
      h1,
      a {
        color: $white-color;
      }
    }

    .one {
      h1 {
        text-transform: uppercase;
        border-bottom: 2px solid $white-color;
      }
    }

    .two {
      ul {
        @include grid($mb-1);

        a {
          text-align: center;

          li {
            @include font($normal-font-size, $font-medium);
          }
        }
      }
    }
  }
}
