@use "import" as *;
@use "navbar" as *;
@use "footer" as *;

//*================= NavBar ====================*//
.header {
  .nav {
    &__item {
      &:nth-child(4) {
        background-color: $redDark-color;
        border-radius: 30px;
        padding: 0 $mb-0-5;

        a {
          color: $white-color;
        }
      }
    }

    &__link {
      &:hover::before {
        transform: scaleX(0);
      }
    }
  }
}

.main__psicoeducacao {
  .pagePsicoeducacao {
    &__container {
      h1 {
        @include font(2rem, $font-bold);
      }

      .one {
        @include grid($mb-1);
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto auto;
        margin-bottom: $mb-2;

        img {
          width: rem(300);

          @media (min-width: rem(768)) {
            width: rem(350);
          }

          @media (min-width: rem(1024)) {
            width: rem(450);
          }
        }

        img:nth-child(1) {
          grid-column: 1;
          grid-row: 3;

          @media (min-width: rem(768)){
            grid-column: 1;
            grid-row: 2;
          }
        }

        img:nth-child(3) {
          grid-column: 1;
          grid-row: 1;

          @media (min-width: rem(768)){
            grid-column: 2;
          }
        }

        img:nth-child(2) {
          display: none;
        }

        p {
          @include font($normal-font-size, $font-semi-bold);
        }

        .pOne {
          grid-column: 1 / span 2;
          grid-row: 2;

          @media (min-width: rem(768)) {
            grid-column: 1;
            grid-row: 1;
          }

          @media (min-width: rem(768)) {
            align-self: center;
          }
        }

        .pTwo {
          grid-column: 1 / span 3;

          @media (min-width: rem(768)){
            grid-column: 2;
          }
        }
      }

      .two {
        @include grid($mb-1);

        @media (min-width: rem(768)) {
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(3, 1fr);
        }

        @media (min-width: rem(1024)) {
          grid-template-columns: repeat(3, 1fr);
        }

        .box {
          border: $border;
          height: rem(300);
          width: 100%;

          @media (min-width: rem(768)) {
            &:nth-child(1) {
              grid-column: 1 / span 2;
            }

            &:nth-child(4) {
              grid-column: 1 / span 2;
            }

            &:nth-child(7) {
              grid-column: 1 / span 2;
            }
          }

          @media (min-width: rem(1024)) {
            &:nth-child(1) {
              grid-column: 1 / span 2;
            }

            &:nth-child(4) {
              grid-column: 2 / span 2;
            }

            &:nth-child(5) {
              grid-column: 1 / span 2;
            }
          }
        }
      }
    }
  }
}
