@use "import" as *;

//*================= Psicanalise ===================*//
.psicanalise {
  &__container {
    @include grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;

    @media (min-width: rem(768)) {
      grid-template-columns: repeat(2, 1fr);
    }

    h1 {
      @include font(2rem, $font-semi-bold);
    }

    .one {
      //TODO: Colocar o tamanho da imagem responsivo
      justify-self: center;

      @media (min-width: rem(768)) {
        grid-column: 2;
        grid-row: 1 / span 3;
        align-self: center;
        max-width: rem(450);
      }
    }

    .two {
      p {
        @include font($normal-font-size, $font-regular);
        letter-spacing: 1.5px;
        align-self: center;
      }
    }

    .three {
      // border: $border;
      @include grid;
      grid-template-columns: repeat(2, 1fr);

      button {
        grid-column: 1 / span 2;
        justify-self: flex-end;
        align-self: flex-start;
        border-radius: 20px 0 20px 20px;
        padding: $mb-0-75 $mb-2-5;

        @media (min-width: rem(768)){
          justify-self: flex-start;
          border-radius: 0 20px 20px 20px;
        }
      }
    }
  }
}
